---
BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 120
AccessModifierOffset: -1
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
IndentCaseLabels: true
SpaceAfterTemplateKeyword: false
SpacesInContainerLiterals: false
...

