Checks: >
  *,
  -altera-struct-pack-align,
  -fuchsia-*,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -modernize-use-trailing-return-type,
  -google-readability-namespace-comments,
  -google-readability-todo,
  -google-runtime-int,
  -google-runtime-references,
  -hicpp-avoid-c-arrays,
  -hicpp-no-array-decay,
  -hicpp-signed-bitwise,
  -llvmlibc-callee-namespace,
  -llvmlibc-restrict-system-libc-headers,
  -llvm-header-guard,
  -llvm-namespace-comment,
  -modernize-avoid-c-arrays,
